<div class="div-class">

<mat-card class="cards">

  <mat-card-header>
    <img src="../../assets/bitcoin.png" class="header-image">
    <mat-card-title class="text">Bitcoin</mat-card-title>

  </mat-card-header>
<img src="assets/btcchart.png" id="btcChart">
</mat-card  >

<mat-card class="cards">

  <mat-card-header>
    <img src="assets/ethereum.webp" class="eth-image">
    <mat-card-title class="text"> Ethereum</mat-card-title>

  </mat-card-header>
<img src="assets/ethchart.png" id="ethChart">
</mat-card  >
  <mat-card class="cards">

    <mat-card-header>
      <img src="assets/chainlink.png" class="header-image">
      <mat-card-title class="text">Chainlink</mat-card-title>

    </mat-card-header>
    <img src="assets/linkpath.png" id="linkChart">
  </mat-card  >


</div>

