<div class="div-class">
<mat-card class="cards">

  <mat-card-header>
    <img src="../../assets/bitcoin.png" class="header-image">
    <mat-card-title class="text">Bitcoin</mat-card-title>

  </mat-card-header>

</mat-card  >
<mat-card class="cards">

  <mat-card-header>
    <img src="assets/ethereum.webp" class="eth-image">
    <mat-card-title class="text"> Ethereum</mat-card-title>

  </mat-card-header>

</mat-card  >
  <mat-card class="cards">

    <mat-card-header>
      <img src="assets/chainlink.png" class="header-image">
      <mat-card-title class="text">Chainlink</mat-card-title>

    </mat-card-header>

  </mat-card  >
</div>
