<!--<h2>Order List</h2>-->
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Symbol</th>-->
<!--    <th>Amount</th>-->
<!--    <th>Price</th>-->
<!--    <th>Direction</th>-->
<!--    <th>Type</th>-->
<!--    <th>Status</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let order of orders">-->
<!--    <td>{{ order.id }}</td>-->
<!--    <td>{{ order.asset.name }}</td>-->
<!--    <td>{{ order.asset.symbol }}</td>-->
<!--    <td>{{ order.amount }}</td>-->
<!--    <td>{{ order.price }}</td>-->
<!--    <td>{{ order.direction }}</td>-->
<!--    <td>{{ order.type }}</td>-->
<!--    <td>{{ order.status }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<button (click)="getOrders()">Click me</button>
