<div class="container">
  <div class="btc">
    <img src="assets/bitcoin.png" class="btcPic" width="50" height="50">
    <h2 id="btcPrice">{{btcPrice}} $</h2>

  </div>
  <div class="eth">
    <img src="assets/ethereum.webp" class="ethPic">
    <h2 id="ethPrice">{{ethPrice}} $</h2>

  </div>
  <div class="link">
    <img src="assets/chainlink.png" class="linkPic">
    <h2 id="linkPrice">{{linkPrice}} $</h2>

  </div>
  <div class="xrp">
    <img src="assets/xrp.png" class="xrpPic">
    <h2 id="xrpPrice">{{xrpPrice}} $</h2>

  </div>
  <div class="atom">
    <img src="assets/cosmos-atom-logo.png" class="atomPic">
    <h2 id="atomPrice">{{atomPrice}} $</h2>

  </div>
</div>
